<footer op-60>
  <p mt-6 text-sm text-black>
    <span pr-1>Powered by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://www.openai-lab.com" target="_blank"
    >
      OpenAI实验室
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://www.openai-lab.com/t/creative" target="_blank"
    >
      更多项目
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="" target="_blank"
    >
      Go Star
    </a>
  </p>
</footer>