---
import Logo from "./Logo.astro";
---

<header>
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1 ">行尸</span>
    <span
      class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600"
      >走肉</span
    >
  </div>
  <p mt-1 text-sm leading-8 text-black op-30>
    基于【行尸走肉】故事情节的文字游戏。。。
  </p>
  <p mt-1 text-sm leading-6 text-black >
    <span op-30>构造自己的文字游戏，从一个ChatGPT账号开始</span>
    <a
      text-sm
      border-b
      border-slate
      border-none
      hover:border-dashed
      text-black
      !op-100
      href="http://zuuu.cn/7G86O"
      target="_blank"
    >
      点击购买
    </a>
  </p>
</header>
